/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif; /* Puedes cambiar la fuente si prefieres otra */
    background-color: #F5F5DC; /* Beige suave */
    color: #333; /* Gris oscuro para el texto */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Títulos */
h1, h2, h3 {
    color: #d8b8a3; /* Marrón claro para los títulos */
    font-family: 'Lora', serif;
    margin-bottom: 0.5em;
}

/* Enlaces */
a {
    text-decoration: none;
    color:  #FF0000; /* Rosa pastel */
    transition: color 0.3s ease;
}

a:hover {
    color: #d8b8a3; /* Cambio de color en hover */
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sección */
section {
    margin-bottom: 50px;
}

/* Fondo del encabezado */
header {
    background-color: #faedcd; /* Blanco roto */
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    font-size: 3em;
}

/* Botones */
button {
    background-color: #f7c8d7; /* Rosa pastel */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d8b8a3; /* Marrón claro en hover */
}

/* Estilo para las imágenes */
img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

/* Pie de página */
footer {
    background-color: #d1d1d1; /* Gris claro */
    padding: 4%;
    text-align: center;
    color: #333;
}
